* {
    box-sizing: border-box;
}
a:link {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    z-index: 3;
}
.wrapper {
    background-color: #DCECEB;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 30px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 2.75rem;
    position:relative;
    top: -70px;
    z-index: 2;
}

/* places the starfish image at the top of the page */
#starfish-wide {
    max-width: 800px;
    position: absolute;
    top: 0em;
    z-index: 1;
    
}
header {
    margin-top: 220px;
}
header ul li {
    display: inline-block;
    margin-left: 50px;
    padding-left: 100px;
    padding-bottom: 30px;
    text-decoration: none;
    align-content: space-evenly;

}

/* creates vertical lines for the header ul */
.vl {
    border-left: black 1px solid;
    width: 1px;
    height: 35px;
    position: relative;
    left: 275px;
    top: -60px;
}
.vl2 {
    border-left: black 1px solid;
    width: 1px;
    height: 35px;
    position: relative;
    left: 525px;
    top: -95px;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    line-height: 1.4;
    background-color: #aad4cf;
}
/*separates the body text for formatting*/
.body-text {
    padding-left: 1rem;
}

#story {
    padding-right: 20px;
    margin-top: -60px;
}
h2 {
    font-size:1.6rem;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* places the second starfish image */
#starfish {
    float: left;
    max-width: 260px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
h3 {
    font-size: 1.3rem;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.facts li {
    list-style-position: inside;
    padding-left: 10px;
}
#contact {
    border: 1px solid black;
    padding: 25px 0px 10px 10px;
    margin: 15px;
}

/* separates the 'would you like to visit the starfish?' text for sizing individually */
.contact-message {
    font-size: 1rem;
}

/* resizes the contact input fields */
#name {
    width: 46.5rem;
    display: block;
}
#email {
    width: 46.5rem;
    display: block;
}
#message {
    width: 46.5rem;
    height: 5rem;
    display: block;
}
/* adjusts the SEND button */
.send {
    border: black solid 1px;
    padding: 0.5rem;
    color: black;
    font-size: 0.6rem;
    display: block;
    background-color: #DCECEB;
    margin-top: 0.75rem;
}
.send:hover {
    background-color: #aad4cf;
}

footer {
    text-align: right;
    padding-right: 40px;
    padding-top: 5px
}